2min 166ms systemd-networkd-wait-online.service
    6.812s hciuart.service
    5.114s cloud-init-local.service
    2.125s dev-mmcblk0p2.device
    1.565s cloud-config.service
    1.537s cloud-final.service
    1.386s cloud-init.service
    1.005s rpi-eeprom-update.service
     868ms user@1000.service
     755ms systemd-journal-flush.service
     755ms networkd-dispatcher.service
     687ms systemd-udev-trigger.service
     642ms NetworkManager-wait-online.service
     610ms ModemManager.service
     524ms systemd-udevd.service
     518ms NetworkManager.service
     494ms systemd-fsck@dev-disk-by\x2dlabel-system\x2dboot.service
     337ms systemd-resolved.service
     334ms polkit.service
     325ms apparmor.service
     250ms systemd-logind.service
     230ms sys-kernel-debug.mount
     229ms e2scrub_reap.service
     224ms wpa_supplicant.service
     224ms rsyslog.service
     222ms sys-kernel-tracing.mount
     216ms dev-hugepages.mount
     213ms dev-mqueue.mount
     202ms keyboard-setup.service
     197ms systemd-sysctl.service
     194ms kmod-static-nodes.service
     191ms systemd-timesyncd.service
     188ms systemd-journald.service
     186ms lvm2-monitor.service
     185ms apport.service
     181ms systemd-tmpfiles-setup.service
     179ms systemd-sysusers.service
     172ms systemd-random-seed.service
     166ms modprobe@configfs.service
     163ms ssh.service
     162ms modprobe@drm.service
     157ms bluetooth.service
     156ms modprobe@efi_pstore.service
     153ms systemd-networkd.service
     152ms modprobe@fuse.service
     112ms systemd-modules-load.service
      96ms systemd-remount-fs.service
      77ms systemd-binfmt.service
      54ms systemd-tmpfiles-setup-dev.service
      54ms boot-firmware.mount
      43ms bthelper@hci0.service
      42ms sys-fs-fuse-connections.mount
      40ms console-setup.service
      40ms plymouth-read-write.service
      39ms systemd-update-utmp.service
      39ms sys-kernel-config.mount
      39ms finalrd.service
      37ms proc-sys-fs-binfmt_misc.mount
      27ms systemd-user-sessions.service
      24ms ufw.service
      23ms systemd-update-utmp-runlevel.service
      22ms systemd-rfkill.service
      22ms user-runtime-dir@1000.service
      18ms plymouth-quit.service
      16ms setvtrgb.service
      15ms plymouth-quit-wait.service
       1ms blk-availability.service
