[Unit]
Description=ROS2 launch
After=network.target
ConditionPathExists=/home/pi

[Service]
ExecStart=/home/pi/2024-2025-Robotics-cup/src/robonav/autostart/one_go.sh
WorkingDirectory=/home/pi/2024-2025-Robotics-cup/src/robonav/autostart
User=pi
Group=pi
Restart=always
RestartSec=7
Environment=ROS_DOMAIN_ID=42
Environment=RCL_LOG_LEVEL=INFO


[Install]
WantedBy=multi-user.target
