<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS 2 Control für Hardware-Schnittstelle -->
    <ros2_control name="DiffDriveController" type="system">
        <hardware>
            <plugin>libgazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robotSimType>gazebo_ros2_control/GazeboSystem</robotSimType>
        </plugin>
    </gazebo>


    <!-- Gazebo Plugin für Differentialantrieb -->
    <!-- <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="gazebo_ros_diff_drive">
        <!-- <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control"> -->
            <update_rate>50</update_rate>
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.0342</wheel_radius>
            <!-- <wheel_diameter>0.0684</wheel_diameter> Füge dies hinzu -->
            <command_topic>/cmd_vel</command_topic>
            <odometry_topic>/odom</odometry_topic>
        </plugin>
    </gazebo> -->

</robot>
