<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <xacro:include filename="materials.xacro"/> -->

    <!-- Lidar -->
    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.04" length="0.03"/> 
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.03"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                     iyy="0.0001" iyz="0.0"
                     izz="0.0002"/>
        </inertial>
    </link>



    <!-- Joint Lidar to Robot (chassis) -->
    <joint name="rplidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="-0.053 0.0 0.36" rpy="0 0 3.14159"/>  <!-- Lidar is on top of the Chassis, rotated 180 degrees around the vertical axis -->
    </joint>




</robot>
